:root {
    --title-text-color: #757575;
    --primary-text-color: #212121;
    --link-text-color: #2196F3;
    --accent-text-color: #FFFFFF;
    --background-color: #2F303A;
    --backgr-color: #F5F4FA;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);

}

.logo-word {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-text-color);
}

.logo-word-black {
    color: var(--primary-text-color);
}

.logo-word-white {
    color: var(--accent-text-color);
}

.active {
    color: var(--link-text-color);
}

a:hover {
    color: var(--link-text-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.page-header {
    background: var(--accent-text-color);
} 

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-slider {
    background-color: var(--background-color);
}

.main-button {
    background: var(--link-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--accent-text-color);
}

.main-button:focus, .main-button:hover {
    background: #188CE8;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-text-color);
}

.main-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.list {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

h2 {
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-section {
    background: var(--backgr-color);
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.post {
    font-weight: normal;
    font-size: 16px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.page-footer {
    background: var(--background-color);
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.mail, .telephone {
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var (--primary-text-color);
    background: var(--backgr-color);
}

.button-portfolio:hover {
    background: var(--link-text-color);
    color: var(--accent-text-color);
    cursor: pointer;
}

.active-btn {
    color: var(--accent-text-color);
    background: var(--link-text-color);
}

.images-portfolio {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.list-portfolio {
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.head-line-height {
    line-height: 15px;
    height: 80px;
}

.head-line-height-contacts .nav-link {
    color: var(--title-text-color);
}

